@page
@model Pages_AboutUs
@{
    ViewData["Title"] = "About Us";
}
<link rel="stylesheet" href="~/@(nameof(CarStorageWebApp)).styles.css" />

<h1>@ViewData["Title"]</h1>

<div class="about-us-content">
    Your ultimate car storage solution at your fingertips. We understand that your vehicle is more than just a mode of transportation; it's an extension of your identity and a source of pride.
    <br />
    <br />
    With our user-friendly app, we offer a seamless and efficient way to find secure and reliable car storage options tailored to your needs. Whether you need short-term storage during travel or a safe spot for your classic car collection, we have you covered.
    <div class="about-us-image">
        <img src="~/Images/about-us-image.jpg" style="width:100%" />
    </div>   
</div>
